body {

    background-image: url("../imagem/kawang.png");

    background-size: cover;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center;

    margin: 0;

    font-family: Arial, sans-serif;
}

.conteudo {

    background-color: rgba(0, 0, 0, 0.65);

    padding: 30px;

    margin: 30px;

    border-radius: 15px;
}

h2 {

    color: #FFD700;

    text-align: center;

    font-family: Georgia, serif;
}

li,
dt {

    color: #FFD700;
}

dd {

    color: white;
}